<h1><%= @merchant.name %>'s Discounts</h1>
<h2>Bulk Discounts</h2>

  <table class="table">
    <tr>
      <th class="th1">Discount</th>
      <th class="th1">Link</th>
      <th class="th1">Delete?</th>
    </tr>
    <% @bulk_discounts.each do |discount| %>
      <tr id=<%= discount.id %>>
        <td class="td"> <%= discount.percent_discount %>% off <%= discount.quantity_threshold %> items </td>
        <td class="td"> <%= link_to "#{discount.name}", merchant_bulk_discount_path(@merchant, discount) %> </td>
        <td class="td"> <%= link_to "Delete #{discount.name}", merchant_bulk_discount_path(@merchant, discount), method: 'delete' %> </td>
      </tr>
    <% end %>
  </table>
</div>

<div id="upcoming_holidays">
  <h2>Upcoming Holidays</h2>
  <ul>
    <% @upcoming_holidays.each do |holiday| %>
      <li><h4><%= holiday.name %> - <%= holiday.date %></h4></li>
    <% end %>
  </ul>
</div>

<div id="add_discount">
  <%= link_to "Create a New Discount", new_merchant_bulk_discount_path(@merchant) %>
</div>
