<h1><%= @merchant.name %>'s Discounts</h1>
<h2>Bulk Discounts</h2>

  <table class="table">
    <tr>
      <th class="th1">Discount</th>
      <th class="th1">Link</th>
      <th class="th1">Delete?</th>
    </tr>
    <% @bulk_discounts.each do |discount| %>
      <tr id=<%= discount.id %>>
        <td class="td"> <%= discount.percent_discount %>% off <%= discount.quantity_threshold %> items </td>
        <td class="td"> <%= link_to "#{discount.name}", merchant_bulk_discount_path(@merchant, discount) %> </td>
        <td class="td"> <%= link_to "Delete #{discount.name}", merchant_bulk_discount_path(@merchant, discount), method: 'delete' %> </td>
      </tr>
    <% end %>
  </table>
</div>
<br>

<div id="add_discount">
  <%= link_to "Create a New Discount", new_merchant_bulk_discount_path(@merchant) %>
</div>

<div id="upcoming_holidays">
  <h2>Upcoming Holidays</h2>
  <table class="table">
    <tr>
      <th class="th1">Holiday</th>
      <th class="th1">Discount</th>
    </tr>

    <% @upcoming_holidays.each do |holiday| %>
        <tr id=<%= holiday.name.gsub(/\s+/, "") %>>
          <td class="td"><h4><%= holiday.name %> - <%= holiday.date %></h4></td>
          <td class="td"><%= link_to "Create Discount", "/merchants/#{@merchant.id}/bulk_discounts/new?holiday=#{holiday.name}" %>
        </tr>
    <% end %>
  </table>
</div>
