<h2><%= @merchant.name %></h2>
<h3>Invoice #<%= @invoice.id %></h3>
<p>Status: <%= @invoice.status %></p>
<p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>

<div id="total_revenue">
  <p>Total Revenue: <%=number_to_currency(@total_revenue/100.0, percision: 2) %></p>
</div>

<div id="discounted_revenue">
  <p>Discounted Revenue: <%= number_to_currency(@discounted_revenue/100.0) %></p>
</div>

<div id="customers">
<h3>Customer:</h3>
<p><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
</div>

<h3>Items on this invoice:</h3>
<table class="table">
  <tr>
    <th class="th1">Item Name</th>
    <th class="th1">Quantity</th>
    <th class="th1">Unit Price</th>
    <th class="th1">Applied Bulk Discount</th>
    <th class="th1">Status</th>
  </tr>
  
  <%@invoice.invoice_items.each do |invoice_item|%>
    <tr>   
      <td class="td"><%= invoice_item.item.name %></td>
      <td class="td"><%= invoice_item.quantity %></td>
      <td class="td"><%= (number_to_currency(invoice_item.unit_price.to_f/100)) %></td>
      <td class="td">
        <div id="bulk_discount<%= invoice_item.id %>"> 
          <% if !invoice_item.list_bulk_discount.nil? %> 
            <%= link_to "#{invoice_item.list_bulk_discount.name}", merchant_bulk_discount_path(@merchant, invoice_item.list_bulk_discount) %></td>
          <% end %>
        </div>
      </td>
      <td class="td">
        <div id=<%= invoice_item.id %>>  
          <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
            <%= form.select :status, ['pending', 'packaged', 'shipped'], selected:invoice_item.status %>
            <%= form.hidden_field :invoice_item_id, value: invoice_item.id %>
            <%= form.submit "Update Item Status" %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>