<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://fonts.googleapis.com/css?family=Akshar' rel='stylesheet'>
    <style>
    .table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    .td {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px;
    }

    .th1 {
      background-color: #8D8F8F;
      border: 1px solid #dddddd;
      text-align: center;
      padding: 4px;
      color: #ffffff
    }
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

      body {
        font-family: 'Akshar';
        font-size: 22px;
        text_align: center;
      }

      section {
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      * {
        box-sizing: border-box;
      }

      .row {
        display: flex;
      }

      .column {
        flex: 50%;
        padding: 10px;
      }
      </style>
  </head>

  <body> 
		<% flash.each do |type, msg| %>
			<div>
				<%= msg %>
			</div>
    <% end %>

    <h1>Little Esty Shop</h1>
    <%= link_to 'Merchants', merchants_path %>

    <%= yield %>
  </body> 
</html>
