<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
    .table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    .td {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px;
    }

    .th1 {
      background-color: #8D8F8F;
      border: 1px solid #dddddd;
      text-align: center;
      padding: 4px;
      color: #ffffff
    }
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
		<% flash.each do |type, msg| %>
			<div>
				<%= msg %>
			</div>
    <% end %>

    <%= yield %>
  </body> 
</html>
